target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
# 可共享的项目配置(misc/compiler/encodings/vcs 等)应入库;以下仅忽略机器相关/会话文件
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf/
.idea/httpRequests/
.idea/queries/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/dynamic.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
# 模块描述文件由 IDEA 根据 Maven 自动导入重建
*.iml
*.iws
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### 本地 AI 助手聊天记录 ###
.rikki/